@charset "UTF-8";
   .popup {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .popup.active {
         display: block;
      }

      #pw_icon {
         font-size: 50px;
         text-align: center;
         display: block;
         margin: 0 auto;

      }

      #form-title {
         text-align: center;
         color: #333;
      }

      .explain {
         font-size: 16px;
         padding: 20px;
      }

      .explain2 {
         font-size: 13px;
         padding: 20px;

      }

      .border-top-example {
         border-top: 2px solid rgb(248, 187, 167, 0.5);
         padding: 10px;
         margin: 10px;
      }

      #password-form {
         background-color: #fff;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      #email-label {
         display: block;
         margin-bottom: 8px;
         color: #333;
         font-weight: bold;
      }

      #user_email,
      #user_tel,
      #user_name {
         width: 500px;
         padding: 10px;
         margin-bottom: 20px;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
         font-size: 16px;
         margin-left: 110px;
         margin-top: 5px;
      }

      #user_tel:focus,
      #user_name:focus,
      #user_email:focus {
         border-color: rgb(252, 184, 3);
         /* 포커스 시 테두리 색상 변경 */
         box-shadow: 0 0 5px rgb(250, 203, 133);
         /* 포커스 시 그림자 추가 */
         outline: none;
         /* 기본 아웃라인 제거 */
      }

      #submit-button {
         width: 500px;
         padding: 10px;
         background-color: rgb(249, 203, 172);
         border: none;
         border-radius: 4px;
         color: #fff;
         font-size: 16px;
         cursor: pointer;
         transition: background-color 0.3s ease;
         margin-left: 110px;
         margin-bottom: 20px;
      }

      #submit-button:hover {
         background-color: rgb(180, 82, 10);
      }

      #alert-box {
         display: none;
      }