@charset "UTF-8";

.head_1, .head_2 {
	text-align: center;
	float: left;
	/* 두 요소 모두에 loat 적용 */
	margin-right: 30px;
	/* head_1의 오른쪽 마진 조정 */
	font-size: 20px;
}

.head {
	overflow: hidden;
	/* float 적용 후, 부모 요소의 높이가 사라지는 것을 방지 */
	display: flex;
	justify-content: center;
}

.reservationOK {
	display: flex;
	justify-content: center;
	font-size: 23px;
}

.table_div {
	display: flex;
	justify-content: center;
}

.button_1 {
	display: flex;
	justify-content: center;
}

.button {
	height: 40px;
	width: 200px;
	background-color: #ffbe98;
	font-size: 20px;
	border: none;
	border-radius: 20px;
	color: white;
}

#symbol-on .material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

#symbol-off .material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

hr {
	border-color: #ffbe98;
}

td {
	padding: 20px;
	text-align: center;
	font-size: 17px;
	border: 1px solid #666666;
}

.table_left {
	font-weight: bolder;
	font-size: 20px;
}

.table_right {
	width: 400px;
	text-align: left;
}

table {
	width: 800px;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}