<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">

<head>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" href="/passwordpopup.css" type="text/css" />
   <meta charset="UTF-8">
   <title>임시 비밀번호 발급</title>
 
</head>

<body>

   <div id="popup" class="popup"><br>
      <i class="fa-solid fa-unlock-keyhole" id="pw_icon"></i>
      <h3 id="form-title">비밀번호 재설정</h3>
      <form id="password-form" action="/passwordpopup" method="post">
         <div class="explain">
            <strong>비밀번호가 기억나지 않아 답답하셨나요?</strong><br><br>
            아래 버튼에 가입한 이메일을 적어주시면 임시 비밀번호를 보내드립니다.
         </div>
         <div class="border-top-example">.</div>
         <input type="text" id="user_name" placeholder="이름" name="user_name" required> <br>
         <input type="tel" id="user_tel" placeholder="전화번호" name="user_tel" required> <br>
         <input type="email" id="user_email" placeholder="가입한 이메일" name="user_email" required>
         <button type="submit" id="submit-button">임시 비밀번호 발급</button>
      </form>
      <br>
      <div id="alert-box"></div>
   </div>

   <!-- 메시지 표시 -->
   <p th:text="${message}" id="serverMessage" style="display: none;"></p>

   <script th:inline="javascript">
      /*<![CDATA[*/
      document.addEventListener("DOMContentLoaded", function () {
         var messageElement = document.getElementById('serverMessage');
         var message = messageElement.innerText;

         if (message) {
            alert(message);
            // 성공 메시지인지 확인 (예: 성공 메시지에 "성공"이라는 단어가 포함되어 있는 경우)
            if (message.includes("성공")) {
               window.close();
            }
         }
      });
      /*]]>*/
   </script>
</body>

</html>