<!DOCTYPE html>
<html layout:decorate="~{layout}">

<section layout:fragment="content">

	<head>
		<link rel="stylesheet" href="/userPage2.css" type="text/css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>








	<main>
		<div class="userPage_menu1" th:each="dto : ${list}">
			<br> <br>
			<div class="profile1_img">
				<img src="img/profile.jpg" alt="프로필사진" width="100" height="100">
			</div>
			<br>
			<div class="user_nickname" th:text="${dto.user_nickname}">user_nickname</div>
			<br>
			<div class="user_id1" th:text="${dto.user_email}"></div>
			<br> <br> <a href="userPage">
				<div class="profile">프로필</div>
			</a> <br> <a href="userPage2">
				<div class="awards">수강내역</div>
			</a> <br> <a href="userPage3">
				<div class="reservation">예약내역</div>
			</a> <br> <a href="userPage4">
				<div class="interests">관심분야</div>
			</a> <br> <a href="userPage5">
				<div class="wishlist">위시리스트</div>
			</a> <br> <br>
		</div>

		<div class="userPage_main">
			<div class="title_big">
				<div class="list">
					<i class="fa-solid fa-list"></i> 나의 수강내역
				</div>
			</div>

			<br>
			<div class="tot_box">
				<div class="box" th:each="reservation : ${rlist}"
					th:data-reservation-date="${reglist[reservation.class_id]['formattedDate']}">
					<div class="class_style">
						<a th:href="@{'/classPage/' + ${reservation.class_id}}">
							<p class="menu_img">
								<img th:src="@{'/img/' + ${reservation.img_name}}" class="menu_img" width="210"
									height="200">
							</p>

							<p class="class_titles" th:text="${reservation.class_title}"></p>
						</a>

						<p class="class-dates" th:text="${reglist[reservation.class_id]['reservation_date']}"></p>

						<p class="review-but" id="review-section">
							<!-- 예약 날짜와 예약 ID를 데이터 속성으로 전달 -->
							<button id="input3" type="button"
								th:data-reservation-id="${reglist[reservation.class_id]['reservation_id']}"
								th:data-reservation-date="${reglist[reservation.class_id]['formattedDate']}"
								onclick="showPopup(this.getAttribute('data-reservation-id'))">
								리뷰작성 <i class="fa-solid fa-play"></i>
							</button>
						</p>
					</div>
				</div>

			</div>
			<div id="pagination">
				<button id="prevPage" th:disabled="${currentPage == 1}">이전</button>
				<span id="currentPage" th:text="${currentPage}">1</span> / <span id="totalPages"
					th:text="${totalPages}">1</span>
				<button id="nextPage" th:disabled="${currentPage == totalPages}">다음</button>
			</div>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(
			function () {
				$('#prevPage').click(
					function () {
						var currentPage = parseInt($('#currentPage')
							.text());
						if (currentPage > 1) {
							window.location.href = '/userPage2?page='
								+ (currentPage - 1);
						}
					});

				$('#nextPage').click(
					function () {
						var currentPage = parseInt($('#currentPage')
							.text());
						var totalPages = parseInt($('#totalPages')
							.text());
						if (currentPage < totalPages) {
							window.location.href = '/userPage2?page='
								+ (currentPage + 1);
						}
					});
			});

		function showPopup(reservationId) {
			var url = "/review?reservation_id=" + reservationId;
			var name = "review_popup";
			var option = "width=700,height=900,top=100,left=200,location=no";
			window.open(url, name, option);
		}

	</script>
</section>

</html>